@font-face {
  font-family:Staatliches-Regular;
  src:url(Font/Staatliches-Regular.ttf);
}

body{
	margin: 0;
  padding: 0;
	font-size: 20px;
  height: 100%;
	background: url(bg/bg1.gif);
  font-family: Staatliches-Regular;
  background-image: url(bg/bg1.gif);
  background-attachment: fixed;
  background-size: cover;
  transform: center;
  color: white;
  scroll-behavior: smooth;
}




/* ------------------------- NAVBAR START ------------*/
.container{
  background-color: #444;
  color: #fff;
  opacity: 0.9;
  padding: 0.4px;
  
}

nav { 
  position: sticky;  
  top: 0;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

ul{
  background-color:none;
  list-style-type: none;
  height:50px;
  padding-right: 20px;
}

.playlist, .gallery, .home {
  float: right;
  font-size: 23px;
  width: 100; 
  margin-top: 1px;
  text-align: center;
  padding:0 2px;
}

a {
  text-decoration: none;
  color: White;
}

a:hover {
  color: orange;
}

.playlist {
  padding-right: 40px;
}

.gallery{
  padding-right: 30px;
}
.home {
  padding-right: 20px
}

/* ------------------------- NAVBAR END ------------*/

.name {
  display: block;
  text-align: center;
  font-size: 50px;
  padding-top: 60px;

}

h2 {
  margin-top: 5px;
}
 
/* --------- BUTTON ------- */ 
i {
  font-size: 70px;
  padding-bottom: 100px;
    margin-top: 0;
  margin-bottom: 0;
}
/* -------- BUTTON END------ */


/*------- GALLERY --------*/
#sec2 {
  text-align:center;
  width: auto;
  background-image: url(bg/bg2.1.gif);
  background-attachment: fixed;
  background-size: cover;
}

img { 
  width:300px;
	height:350px;
  filter: grayscale(100%);
  transition: 1s;
}

img:hover {
  filter: grayscale(0);
}
.image{
  padding-top: 100px;
  font-size: 90px;
}
/*------- GALLERY END--------*/


/*------- PLAYLIST --------*/
#sec3 {
  text-align:center;
  width: auto;
  background-repeat: no-repeat;
  background-image: url(bg/bg3.gif);
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}


/* --------------------- SONG 1 CSS START ---------------------------- */
.s1 {
  font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: orange;
  position: absolute;
  left:20px;
}

.s1:hover {
  color: white;
}

/* --------------------- SONG 1 CSS END ---------------------------- */


/* --------------------- SONG 2 CSS START ---------------------------- */
.s2 {
  font-size: 30px;
  padding-bottom: 100px;
  margin: auto;
  width: 300px;
  height: 90px;
  color: white;
  position: absolute;
  left:20px;
}

.s2:hover {
  color: orange;
}

/* --------------------- SONG 2 CSS END ---------------------------- */

/* --------------------- SONG 3 CSS START ---------------------------- */
.s3 {
  font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: orange;
  position: absolute;
  left:20px;
}

.s3:hover {
  color: white;
}

/* --------------------- SONG 3 CSS END ---------------------------- */

/* --------------------- SONG 4 CSS START ---------------------------- */
.s4 {
  font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: white;
  position: absolute;
  left:20px;
}

.s4:hover {
  color: orange;
}

/* --------------------- SONG 4 CSS END ---------------------------- */

/* --------------------- SONG 5 CSS START ---------------------------- */
.s5 {
  font-size: 30px;
  padding: 3px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: orange;
  position: absolute;
  left:20px;
}

.s5:hover {
  color: white;
}

/* --------------------- SONG 5 CSS END ---------------------------- */

/* --------------------- SONG 6 CSS START ---------------------------- */
.s6 {
  font-size: 30px;
   padding: 3px 0;
  width: 300px;
  height: 90px;
  color: white;
  float: center;
 }

.s6:hover {
  color: orange;
}

/* --------------------- SONG 6 CSS END ---------------------------- */

/* --------------------- SONG 7 CSS START ---------------------------- */
.s7 {
  font-size: 30px;
  padding: 3px 0;
  width: 300px;
  height: 90px;
  color: orange;
  float: center;
}

.s7:hover {
  color: white;
}

/* --------------------- SONG 7 CSS END ---------------------------- */

/* --------------------- SONG 8 CSS START ---------------------------- */
.s8 {
  font-size: 30px;
  padding: 3px 0;
  width: 300px;
  height: 90px;
  color: white;
  float: center;
}

.s8:hover {
  color: orange;
}

/* --------------------- SONG 8 CSS END ---------------------------- */

/* --------------------- SONG 9 CSS START ---------------------------- */
.s9 {
  font-size: 30px;
  padding: 3px 0;
  width: 300px;
  height: 90px;
  color: orange;
  float: center;
}

.s9:hover {
  color: white;
}

/* --------------------- SONG 9 CSS END ---------------------------- */

/* --------------------- SONG 10 CSS START ---------------------------- */
.s10 {
  font-size: 30px;
  padding: 3px 0;
  width: 300px;
  height: 90px;
  color: white;
  float: center;
}

.s10:hover {
  color: orange;
}
/* --------------------- SONG 11 CSS END ---------------------------- */


.s11 {
 font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: orange;
  position: absolute;
  right:20px;
}

.s11:hover {
  color: white;
}
/* --------------------- SONG 11 CSS END ---------------------------- */

/* --------------------- SONG 12 CSS END ---------------------------- */


.s12 {
 font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: white;
  position: absolute;
  right:20px;
}

.s12:hover {
  color: orange;
}
/* --------------------- SONG 12 CSS END ---------------------------- */

/* --------------------- SONG 13 CSS END ---------------------------- */
.s13 {
 font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: orange;
  position: absolute;
  right:20px;
}

.s13:hover {
  color: white;
}
/* --------------------- SONG 13 CSS END ---------------------------- */

/* --------------------- SONG 14 CSS END ---------------------------- */
.s14 {
 font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: white;
  position: absolute;
  right:20px;
}

.s14:hover {
  color: orange;
}
/* --------------------- SONG 14 CSS END ---------------------------- */

/* --------------------- SONG 15 CSS END ---------------------------- */
.s15 {
 font-size: 30px;
  padding: 5px 0;
  margin: auto;
  width: 300px;
  height: 90px;
  color: orange;
  position: absolute;
  right:20px;
}

.s15:hover {
  color: white;
}
/* --------------------- SONG 15 CSS END ---------------------------- */




.lyric {
  color:white;
  transform: center;
  width: 70%;
  height: 10%;
  padding: 5px;
  background: rgba(0,0,0,.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.10);
  border-radius: 10px;
  margin-top: 10px;
}

audio { 
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.back { /* BACK BUTTON */
  margin-top: 20px;
  margin-left: 10px;	
  text-align: center;
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  background: #fddb3a;
  font-size: 20px;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}




/* --------------------- SONG 2 CSS END ---------------------------- */

